{% extends 'primes/contact.html' %}

{% load crispy_forms_tags %}

{% block worker %}

    {% block title %}

        Contact Us

    {% endblock %}

    {% block jumbotron %}

    <div class="jumbotron">

        <div class='row'>

                 <div class ='col-sm-6 col-sm-offset-3'>

                      <h1>Contact Us</h1>

                      {% if form %}

                          <form role="form" action="" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Submit Form" class="btn btn-default"/>
                          </form>

                      {% endif %}

                  </div>

         </div>

     </div>

    {% endblock %}

{% endblock %}